@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    
}

.header{

    background-color: #1F2937;
    color: rgb(245, 245, 245);
}

.footer{
    background-color: #171f2a;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-family: 'Roboto', sans-serif;
}

.header-top a 
{
    text-decoration: none;
    color: white;
}

.header-top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171f2a;
    position: sticky;
    top: 0;
    height: 75px;
    gap: 50px;

}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;

}

.header-bottom-text{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin: 25px;
    gap:15px;
    max-width: 750px;
    flex-shrink: 0;
}

.header-bottom-text .first-title{

    font-weight: bolder;
    font-size: 50px;

}

.header-bottom-text .first-paragraph{

    text-align: justify;
    font-size: 22px;
    line-height: 42px;
    margin-bottom: -20px;

}


.header-bottom .header-bottom-image{
    max-width: 650px;
    margin: 45px;
    border-radius: 30px;
    box-shadow: 6px 8px #171f2a;
    
    
}
.header-bottom .main-content{
    gap: 40px;
    flex-shrink: 0;
}

.header-bottom-text button{
    width: 200px;
}

.header-bottom .signup-button{
    align-self:flex-end;
    border-radius: 20px;
    background-color: rgb(207, 145, 82);
    padding: 12px;
    width: max-content;
    border: none;
    box-shadow: 3px 4px #171f2a;
}
.header-bottom .button-text{
    color: white;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;

}

.header-bottom .main-content{
    display: flex;
    padding: 20px;
}

.right-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    gap: 25px;
    font-family: 'Roboto', sans-serif;
    
}
.right-links .list-element{
    padding: 8px;
    box-shadow: 3px 4px #0d1218;
    background-color: rgb(207, 145, 82, 0.9);
    border-radius: 70px;
    flex-shrink: 0;
    box-shadow: rgb(98, 98, 98) 1px 1px;
   

}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    
}

.logo-text{
    font-weight: bold;
    color: white;
    font-size: 30px;
}


.page-logo{
    max-width: 100px;
    margin: -15px;
    margin-left: 70px;
    padding: 0px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}

#second-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 65px;
   
}
#second-part .title{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
}

#second-part .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#second-part .content{
    display: flex;
    justify-content: center;
    gap: 220px;
    
}

#second-part .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#second-part .block .subtext{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    max-width: 285px;
    min-height: 150px;
    color: rgba(0, 0, 0, 0.329);
}

#second-part .image .alpaca-image{
    max-width: 250px;
    border-radius: 40px;
    box-shadow: 5px 7px #171f2aca;
    margin: 40px;
    margin-bottom: -2px;
    padding: -5px;

}


#third-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    align-items: center;
    
    background-color: #E5E7EB;
}

#third-part .text{
    text-align: justify;
    font-size: 22px;
    max-width: 900px;
    font-family: 'Open Sans';
    line-height: 46px;
}

#third-part .author{

    font-family: 'Open Sans';

    font-size: 26px;
    min-width: 900px;
    align-self: center;
    text-align: right;
    
}

#fourth-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#fourth-part .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 112, 250);
    background-color: #1F2937;
    border-radius: 10px;
    padding: 45px;
    min-width: 500px;
    gap: 45px;
}

#fourth-part .text{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    color: white;
    gap: 15px;
}

#fourth-part button{
    border-radius: 12px;
    min-width: 130px;
    background-color: #1F2937;
    padding: 12px;
    width: max-content;
    border: none;
    border: solid 3px white;
}
#fourth-part button .text{
  color: white;
  font-weight: 500;

}

.footer .github{
    text-decoration: none;
    color: white;
}