body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header,
.footer{
    background-color: #1F2937;
    color: rgb(245, 245, 245);
}

.header-top a 
{
    text-decoration: none;
    color: white;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171f2a;
    position: sticky;
    top: 0;
    height: 75px;


}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-bottom-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    gap:25px;
    max-width: 750px;
}

.header-bottom .header-bottom-image{
    max-width: 650px;
    margin: 45px;
    border-radius: 30px;
    box-shadow: 6px 8px #171f2a;
    
}
.header-bottom .main-content{
    gap: 75px;
}

.header-bottom-text button{
    width: 200px;
}

.header-bottom .signup-button{
    align-self:flex-end;
    border-radius: 20px;
    background-color: rgb(207, 145, 82);
    padding: 12px;
    width: max-content;
    border: none;
    box-shadow: 3px 4px #171f2a;
}
.header-bottom .button-text{
    color: white;

}

.header-bottom .main-content{
    display: flex;
    padding: 20px;
}

.right-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    gap: 25px;
    
}
.right-links .list-element{
    padding: 8px;
    box-shadow: 3px 4px #0d1218;
    background-color: rgb(207, 145, 82, 0.9);
    border-radius: 70px;
   

}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    font-weight: bold;
    color: white;
    font-size: 30px;
}


.page-logo{
    max-width: 100px;
    margin: -15px;
    margin-left: 70px;
    padding: 0px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#second-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
   
}
#second-part .title{
    text-align: center;
    margin-bottom: 25px;
}

#second-part .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#second-part .content{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

#second-part .block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#second-part .image .alpaca-image{
    max-width: 250px;
    border-radius: 40px;
    box-shadow: 5px 7px #171f2aca;
    margin: 40px;
    margin-bottom: -2px;
    padding: -5px;

}


#third-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    align-items: center;
    
    background-color: rgb(231, 229, 229);
}

#third-part .text{
    text-align: justify;
    max-width: 750px;
}

#third-part .author{

    min-width: 750px;
    align-self: center;
    text-align: right;
    
}

#fourth-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#fourth-part .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 112, 250);
    border-radius: 10px;
    padding: 45px;
    min-width: 500px;
    gap: 45px;
}

#fourth-part .text{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15px;
}