body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header,
.footer{
    background-color: blue;
    color: rgb(245, 245, 245);
}

.header-top a 
{
    text-decoration: none;
    color: white;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-bottom-text{
    display: flex;
    flex-direction: column;
    margin: 25px;
    gap:25px;
    max-width: 750px;
}


.header-bottom-text button{
    width: 200px;
}


.right-links ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
    gap: 25px;
}
.left-logo{
    margin: 15px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#second-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
   
}
#second-part .title{
    text-align: center;
    margin-bottom: 25px;
}

#second-part .image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#second-part .content{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

#second-part .block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#third-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    align-items: center;
    
    background-color: rgb(231, 229, 229);
}

#third-part .text{
    text-align: justify;
    max-width: 750px;
}

#third-part .author{

    min-width: 750px;
    align-self: center;
    text-align: right;
    
}

#fourth-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

#fourth-part .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 112, 250);
    border-radius: 10px;
    padding: 45px;
    min-width: 500px;
    gap: 45px;
}

#fourth-part .text{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 15px;
}